{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Users list page</title>
		<meta name="description" content="Locations:of users" />
		<meta name="keywords" content="Locations of users" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="{% static 'EcoKitchen/normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'EcoKitchen/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'EcoKitchen/component.css' %}" />
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
				
				
			</div>
			<header>
				<h1>Feedback <em></em> <span>Feedback received from users</span></h1>	
				<nav class="codrops-demos">
					<a class="current-demo" href="../feedbackpage">Feedback</a>
					<a href="../locationspage" title="Locations of Entrepreneurs">Locations of Entrepreneurs</a>
					<a href="../userspage">List of users</a>
					<a href="../entrepreneurs">List of Entrepreneurs</a>
					
					
					
				</nav>
			</header>
			<div class="component">
				<h2>Feedback:</h2>
				<p>List of feedback received from users (Ratings of 5)</p>
				<table>
					<thead>
						<tr>
							<th>Person</th>
							<th>Recommendation</th>
							<th>Courtesy</th>
							<th>Quality Of Food</th>
							<th>Quantity Of Food</th>
							<th>Cleanliness</th>
							<th>Location</th>
						</tr>
					</thead>
					<tbody>
						{% for fdbk in feedback_list %}
                        <tr>
							<td align="left">{{fdbk.user.name}}</td>
							<td align="left">{{fdbk.content}}</td>
							<td align="left">{{fdbk.qualityOfFood}}</td>
							<td align="left">{{fdbk.quantityOfFood}}</td>
							<td align="left">{{fdbk.foodTaste}}</td>
							<td align="left">{{fdbk.cleanliness}}</td>
							<td align="left">{{fdbk.location.address}}</td>
						</tr>

                        {% endfor %}
					</tbody>
				</table>
				
			</div>
			
		</div><!-- /container -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
		<script src="js/jquery.stickyheader.js"></script>
	</body>
</html>